

{% extends 'usuario/main.html' %}
{% block content %}


<div class="row">
  <div class="col-sm-12 col-lg-8 offset-lg-2 bg-light ">
    <div class="page-header">
      <h1>Ingreso boleta</h1>
       </div>
 
      <form method="POST" action="" enctype="multipart/form-data" >
        {%csrf_token%}
        
        {% load crispy_forms_tags%}
        {{form|crispy}}
        <br>
        {% if mensaje %}
        <div class="alert alert-warning">
          <p>Fecha de boleta ya esta ingresado</p>
      </div>
      
        {% endif %}
        <div class="form-group">
            <button class="btn btn-outline-info" formmethod="post" type="submit">
                Guardar
    
            </button>
        </div>
    </form>
   
  </div>
</div>

              
  
{% endblock %}