{% extends 'usuario/main.html' %}
{% block content %}

<div class="row">
  <div class="col-sm-12 col-lg-8 offset-lg-2 bg-light ">
    <div class="page-header">
        <h1>Resumen</h1>
        <hr>
    </div>

    <div class="card border-warning mb-3" >
      <div class="card-header">Total mts3</div>
      <div class="card-body text-info">
        <h3 class="card-title text-center">{{ totalmts3 }}</h3>
     </div>
    </div>

    <div class="card border-warning mb-3" >
      <div class="card-header">Total monto</div>
      <div class="card-body text-info">
        <h5 class="card-title">Info card title</h5>
     </div>
    </div>
</div>
</div>

{% endblock %}
