
{% extends 'usuario/layout.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-2 ">

    </div>
    <div class="col-lg-8 ">

      <form class="form" id="miForm" method="get" action="">
          <h2 class="text-center">Contacto</h2>
          <div class="form-group">

              <label for="txt_nombre">Tu nombre</label> 
               <input class="form-control" type="text" id="txt_nombre" name="txt_nombre" >
          </div>
          <div class="form-group">
              <label for="txt_fono">Tu Fono</label> 
              <input class="form-control"  type="number" id="txt_fono" name="txt_fono" >
          </div>
          <div class="form-group">
              <label for="txt_correo">Tu email</label> 
              <input class="form-control"  type="email" id="txt_correo" name="txt_correo" >
          </div>
          <div class="form-group">
              <label for="txt_mensaje"> Tu mensaje</label>
              <textarea class="form-control" id="txt_mensaje" name="txt_mensaje" ></textarea>
          </div>
          
        
       
          <br>
          <div class="form-group text-center">
              <input class="btn btn-danger"  type="submit" name="Enviar">
              <a class="btn btn-warning" href="{% url 'home' %}">Volver</a>
          </div>
        
      </form>
  </div>
  <div class="col-lg-2">

         </div>
</div>

{% endblock %}