
{% extends 'usuario/main.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-8 offset-lg-2 bg-light ">
        <h1>Editar comentario     <a href="{% url 'post-list-usu' %}" class="btn btn-info btn-circle btn-lg">
            <i class="bi bi-arrow-counterclockwise"></i></a></h1>
       <hr>
        <form method="POST">
            {%csrf_token%}
            
            {% load crispy_forms_tags%}
            {{form|crispy}}
            
            <button type="submit" class="btn btn-outline-info" >Editar</button>
        </form>
  </div>
 
</div>

{% endblock %}