
{% extends 'usuario/layout.html' %}
{% block content %}
{% load static %}
<h4>Dispositivo para ahorrar agua</h4>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="text-center">
        <img src="{% static 'img/1.jpg'  %}" class="rounded img-fluid" alt="1">
        <label >Ahorrador Y Aireador De Agua Giratorio</label>
      </div>
      
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="text-center">
        <img  src="{% static 'img/2.jpg'  %}" class="rounded img-fluid" alt="2">
        <label >Dispositivo economizador de agua

      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="text-center">

        <img  src="{% static 'img/3.webp' %}" class="rounded img-fluid" alt="3">
        <label >Griferia Ahorrador Agua Automático</label>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="text-center">

        <img  src="{% static 'img/4.webp' %}" class="rounded img-fluid" alt="4">
        <label >Grifo Lavaplatos Extensor Regula Presión Ahorro Agua 360º</label>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="text-center">

        <img src="{% static 'img/5.webp' %}" class="rounded img-fluid" alt="5">
        <label>Regulador Del Grifo De Ahorro De Agua Azul, 15 Cm De Altura
        </label>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="text-center">

        <img  src="{% static 'img/6.webp' %}" class="rounded img-fluid" alt="6">
        <label>Grifo Lavaplatos Extensor Regula Presión Ahorro Agua 360º</label>

      </div>
    </div>
</div>


{% endblock %}