
{% extends 'usuario/layout.html' %}
{% block content %}



  <div class="row">
    <div class="col-sm-12 col-lg-8 offset-lg-2 bg-light ">
 
        <h3>Carga tú boleta de agua mes a mes <i class="bi bi-water"></i></h3>
        <h5>Haz un registro de tus consumos de tu hogar cargando mes a mes tus boletas y así podrás tener un historial de consumo, 
          concientizar sobre el consumo de agua, proponer ideas de ahorro, entre otras operaciones.</h5>
    </div>
  </div>
  <div class="row">

 
    <div class="col-sm-12 col-lg-8 offset-lg-2 bg-light ">
 
      <blockquote class="alert alert-success">
        <label>Ingresa a tu cuenta
          <a href="{% url 'login'%}" id="OtroLogin">Aquí</a>  o Registrate <a href="{% url 'listado-usu'%}">Aquí</a></label>
      </blockquote>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-8 offset-lg-2 bg-light ">
      <h4>¿Qué es el sobreconsumo?
        </h4>
        <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nQhTyxnjFdw?autoplay=1&rel=0&fs=0&showinfo=0&modestbranding=1&controls=0"></iframe>
    </div>
    </div>
  </div>


{% endblock %}