
{% extends 'usuario/layout.html' %}
{% block content %}

<div class="jumbotron">



    <div class="row">

       
      <div class="col-sm-12 col-md-12 col-lg-12">
      
              <h3>Problemática del agua</h3>
          
      
              <h5 >
              El agua es escasa y las fuentes están lejos de las ciudades.
              Alrededor del 36% de la población mundial, ó 2,400 millones de personas, 
              viven en regiones con escasez de agua y el 52% experimentará una severa 
              escasez de agua hacia el año 2050.
              </h5>
      
          </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
          
          <blockquote class="alert alert-warning">
            ¿Qué harías si el agua se acaba hoy?
          <label>Ingresa 
            <a href="info.html">aquí</a> para revisar la ideas sobre la escasez hidrica</label>
      </blockquote>

      </div>
  
  
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3>Carga tú boleta de agua mes a mes <i class="bi bi-water"></i></h3>
        <h5>Haz un registro de tus consumos de tu hogar cargando mes a mes tus boletas y así podrás tener un historial de consumo, 
          concientizar sobre el consumo de agua, proponer ideas de ahorro, entre otras operaciones.</h5>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 ">
      <blockquote class="alert alert-success">
        <label>Ingresa a tu cuenta
          <a href="{% url 'login'%}" id="OtroLogin">Aquí</a>  o Registrate <a href="{% url 'listado-usu'%}">Aquí</a></label>
      </blockquote>
    </div>

  </div>

</div>
{% endblock %}