
{% extends 'usuario/layout.html' %}
{% block content %}

<div class="row">

    <div class="col-sm-12 col-lg-8 offset-lg-2 bg-light ">
        <div class="page-header">
            <h1>Iniciar Sesión</h1>
            <hr>
        </div>
            <form method="post">
                {% csrf_token %}
                
                {% load crispy_forms_tags%}
                
                    {{form|crispy}}
               
                
                    <button class="btn btn-outline-info btn-lg  btn-block">Entrar</button>

                    <a href="{% url 'nuevo-usu-django'%}" class="text-center">Registrate</a>
              
                    
              
              
            </form> 
        </div>
               
    </div>
   


</div>
{% endblock %}
