{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Yo quiero otro mundo - Home</title></title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'js/jquery.validate.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>

</head>
<body>
    <header>
      
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <!-- Image and text -->
            <nav class="navbar">
                <a class="navbar-brand" href="#">
                 
                    <h1> <i class="bi bi-droplet-fill"></i>Escasez hidrica</h1>    
                </a>
            </nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home-bienvenido'%}">Home</a>
                </li>
                <li class="nav-item active dropdown">
                  <a class="nav-link dropdown-toggle" href="#" 
                  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Registro de Boleta
                  </a>
                  <div class="active dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  
                    <a class="dropdown-item " href="#" >Nuevo ingreso</a>
                  
                      <a class="dropdown-item " href="#" >Mis boletas</a>
                      </div>
                </li>
                <li class="nav-item active dropdown">
                  <a class="nav-link dropdown-toggle" href="#" 
                  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Comentarios
                  </a>
                  <div class="active dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  
                    <a class="dropdown-item " href="{% url 'post-usu' %}" >Nueva publicación</a>
                  
                      <a class="dropdown-item " href="{% url 'post-list-usu' %}" >Mis publicación</a>
                      </div>
                </li>
                                    
           
              </ul>
              <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" 
                  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administración
                  </a>
               
                  <div class="active dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  
                  <a class="dropdown-item  mr-sm-2" href="{% url 'contacto-registros'%}" id="btnLogin">Registros - Contacto</a>
                  </div>
              </li>

                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" 
                  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.username|title }}
                  </a>
               
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  
                  <a class="dropdown-item  mr-sm-2" href="{% url 'salir-usu'%}" id="btnLogin">Cerrar Sesión</a>
                  </div>
              </li>
            

              </ul>

            </div>
          </nav>
    </header>
    <main class="container-fluid mt-4" id="contenido">
     

        {% block content %}
        {% endblock %}

      </div>
    </main>
  
    <footer class="text-center align-text-bottom mt-5">
     
        <p>Derechos Reservados &copy; 2021 </p>
    </footer>

      
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
   
</body> 
</html>