
{% extends 'usuario/layout.html' %}
{% block content %}


    <div class="row">
        <form method="POST">
            {%csrf_token%}
            
            {% load crispy_forms_tags%}
            {{form|crispy}}
          
            <div class="form-group">
                <button class="btn btn-outline-info" formmethod="post" type="submit">
                    Guardar
        
                </button>
            </div>
          </form>

  </div>


{% endblock %}