
{% extends 'usuario/layout.html' %}
{% block content %}


    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 bg-light ">
            <div class="page-header">
                <h1 class="text-dark">Registrate</h1>
                <hr>
            </div>
            <form method="POST">
                        {%csrf_token%}
                        
                        {% load crispy_forms_tags%}
                        {{form|crispy}}
                        <br>
                        <div class="form-group">
                            <button class="btn btn-outline-info btn-block" formmethod="post" type="submit">
                                Enviar
                    
                            </button>
                        </div>
                    </form>
        </div>
     
        

  </div>


{% endblock %}