
{%extends "usuario/main.html"%} 
{% block content%}


  <h1>Comentarios de sobre la iniciativa 
    <a href="{% url 'post-usu' %}" class="btn btn-info btn-circle btn-lg"><i class="bi bi-plus-circle-fill"></i></a></h1>
      {%for post in posts%}
     
<hr>
    <div class="card">
           <h5 class="card-header">
      
        <div class="article-metadata ">
          
          <small class="text-muted">Autor {{ post.autor|title }}</small>,
          <small class="text-muted">{{ post.fecha_publicacion }}</small>
        </div>
      </h5>
      <div class="card-body">
        
        <h5 class="card-title"><a class="article-title" href="#">{{ post.titulo|title }}</a></h5>
        <p class="card-text">{{ post.descripcion }}</p>
        <div class="text-right">
          <a href="editar/{{post.id}}/" class="btn btn-outline-success btn-sm">
           
            <i class="bi bi-file-post-fill"></i> Modificar</a>
          
          <a href="eliminar/{{post.id}}/" class="btn btn-outline-danger btn-sm">
          
          <i class="bi bi-trash"></i>  Eliminar
        </a>
        </div>
      </div>
    </div>
    <br>
    {%endfor%}



{% endblock content%}
