

{% extends 'usuario/main.html' %}
{% block content %}

<div class="row">
  <div class="col-sm-12 col-lg-8 offset-lg-2 bg-light ">
    <div class="page-header">
        <h1>Usuarios registrados</h1>
        <hr>
    </div>
   
 
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Fecha Registro</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nombre de usuario</th>
            <th>Email</th>
            <!-- <th>Opciones</th> -->
          </tr>
        </thead>
        <tbody>
      {% for c in usu2 %}
             
          <tr>
            
            <td>{{c.date_joined}}</td>
            <td>{{c.first_name}}</td>
            <td>{{c.last_name}}</td>
            <td>{{c.username}}</td>
            <td>{{c.email}}</td>
         
            <!-- <td><a href="{% url 'editar-usu' c.id %}" class="btn btn-warning btn-sm">Editar</a> -->
          </tr>
        
       {% endfor %}
       
    </tbody>
  </table>

  </div>
  
{% endblock %}